body {
	font-family: 'Work Sans', sans-serif;
	background-image: url(transparent_prints.png);
}

body: after {
	opacity: 0.2;
}

.title {
	font-family: 'Snowburst One', cursive;
	color: #2196f3;
}

h4 {
	text-align: center;
}

footer {
	font-family: 'Fascinate', cursive;
}